@import '../../assets/variables.scss';

.item {
  width: 100%;
  background-image: url(../../assets/images/line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  display: grid;
  grid-template-columns: 9px 1fr 20px;
  grid-template-rows: fit-content auto;
  gap: 5px 15.6px;
  padding-top: 9px;
  cursor: pointer;

  @media screen and (max-width: 1199px) {
    gap: 5px;
  }

  @media screen and (max-width: 743px) {
    width: 100%;
    gap: 10px;
  }
}

.number {
  @include textMixin($font-monserrat, $grey-scale-primary-first, 110%, 8px, 700);
  text-transform: uppercase;
}

.title {
  @include textMixin($font-roboto, $grey-scale-primary-first, 110%, 18px, 500);
  -webkit-font-feature-settings: "kern" 1;
  font-variant: all-small-caps;
  margin: 0;

  @media screen and (max-width: 1199px) {
    max-width: 235px;
  }
}

.containerAccordion {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.accordion {
  @include textMixin($font-roboto, $grey-scale-primary-first, 120%, 14px, 400);
  border-radius: 8px;
  margin: 0;
  padding: 10px 0 15px 0;
}

.icon {
  justify-self: end;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  margin-right: 8px;

  @media screen and (max-width: 483px) {
    margin-right: 7px;
    margin-top: -2px;
  }

  &:hover {
    opacity: 0.6;
  }
}