@import '../../assets/variables.scss';

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  @include textMixin($font-roboto, $grey-scale-sixtary, 106%, 17px, 500);
  background: $gradient-blue-button;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-variant: all-small-caps;
  margin: 0;
  
  &:hover {
    background: $gradient-blue-button-hover;
  }
  
  &.disabled:hover {
    background: $grey-scale-quaternary;
  }
}

.small {
  padding: 8px 24px;
  font-size: pxToRem(15);
  border-radius: 6px;
}

.medium {
  padding: 11px 30px 10px;
  border-radius: 8px;
}

.large {
  padding: 21px 59px;
}

.disabled {
  background: $grey-scale-quaternary;
  cursor: default;
}