@import '../vendor/fonts.scss';

$grey-scale-primary-first: #393838;
$grey-scale-primary-second: #2C2824;
$grey-scale-secondary: #6A6B74;
$grey-scale-tetriary: #6A6B74;
$grey-scale-quaternary: #BDBEC1;
$grey-scale-quinary: #F1F1F1;
$grey-scale-sixtary: #FFF;

$brand-blue-primary-light: #197ACF;
$brand-blue-primary-dark: #363544;

$additional-grayblue-additional-dark: #3C489E;
$additional-grayblue-additional-medium: #787CA9;
$additional-grayblue-additional-light: #E0EAF8;
$additional-blue-accent: #0CF;
$additional-red-warning: #FF4A00;
$additional-blue-logotype: #005F9E;

$gradient-blue-button: linear-gradient(50deg, #30B3ED -33.78%, #299EE2 6.62%, #258BD7 47.26%, #44A1E0 79.73%, #51A8E3 111.74%);
$gradient-blue-button-hover: linear-gradient(255deg, #30B3ED 16.26%, #299EE2 35.91%, #258BD7 55.68%, #44A1E0 71.47%, #51A8E3 87.04%);

$font-roboto: 'Roboto', sans-serif;
$font-monserrat: 'Monserrat', sans-serif;

$baseFontSize : 16px;

@function pxToRem($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @return ($pixels / $baseFontSize) * 1rem;
}