.section {
  border-radius: 20px;
  background: var(--grey-scale-sixtary);
}

/* Заголовок и ссылки */

.section_type_title {
  padding: 23px 35px;
  margin: 15px 0;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .section_type_title {
    padding: 20px 17px 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 413px) {
  .section_type_title {
    padding: 11px 10px 16px;
    border-radius: 8px;
  }
}

.title {
  display: block;
  font-family: var(--font-monserrat);
  font-size: 55px;
  font-weight: 600;
  letter-spacing: -0.55px;
  color: var(--grey-scale-primary);
  max-width: 1000px;
  line-height: 100%;
  margin: 0 0 87px;
}

@media screen and (max-width: 1199px) {
  .title {
    width: 100%;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.4px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 413px) {
  .title {
    font-size: 27px;
    line-height: 100%;
    letter-spacing: -0.27px;
    margin-bottom: 15px;
  }
}

.span {
  position: absolute;
  right: 40px;
  top: 37px;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 500;
  font-variant: all-small-caps;
  line-height: 100%;
  width: 152px;
  color: var(--grey-scale-tetriary);
  text-align: right;
}

@media screen and (max-width: 1199px) {
  .span {
    position: static;
    display: block;
    width: 100%;
    margin-bottom: 81px;
    text-align: left;
  }
}

@media screen and (max-width: 413px) {
  .span {
    line-height: 92%;
    margin-bottom: 79px;
  }
}

.listLinks {
  list-style: none;
  display: flex;
  gap: 57px;
  padding-left: 6px;
  margin: 0;
}

@media screen and (max-width: 1295px) {
  .listLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px 0;
  }
}

@media screen and (max-width: 540px) {
  .listLinks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding-left: 0;
  }
}

.listItem {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .listItem:nth-child(1) {
    order: 1;
  }
  
  .listItem:nth-child(2) {
    order: 3;
  }
  
  .listItem:nth-child(3) {
    order: 2;
  }

  .listItem:nth-child(4) {
    order: 4;
  }
}

@media screen and (max-width: 540px) {
  .listItem:nth-child(2) {
    order: 2;
  }
  
  .listItem:nth-child(3) {
    order: 3;
  }
}

/* Секция табы 1 и 2  */

.tabs {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 651px;
}

@media screen and (max-width: 1505px) {
  .tabs {
    overflow: visible;
  }
}

.tabsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: calc(100% - 330px) 507px;
  gap: 17px;
  position: absolute;
  top: 0;
  left: 0;
  height: 651px;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

@media screen and (max-width: 1505px) {
  .tabsContainer {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    gap: 11px;
    height: max-content;
    position:static
  }
}

.tabEmail {
  z-index: 2;
  margin: 20px 0 0 99px;
  display: inline-flex;
  gap: 13px;
  color: var(--brand-blue-primary-light);
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 92%;
  font-variant: all-small-caps;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

.tabEmail:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1505px) {
  .tabEmail {
    margin: 20px 0 0 121px;
  }
}

@media screen and (max-width: 1199px) {
  .tabEmail {
    position: absolute;
    top: -4px;
    right: 20px;
  }
}

@media screen and (max-width: 743px) {
  .tabEmail {
    order: 2;
    position: static;
    margin: 14px 0 0 110px;
  }
}

@media screen and (max-width: 483px) {
  .tabEmail {
    margin-left: 53px;
    margin-top: 11px;
  }
}

.titleListAdvantages {
  color: var(--grey-scale-tetriary);
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-variant: all-small-caps;
  margin: 214px 0 37px 0;
}

@media screen and (max-width: 1505px) {
  .titleListAdvantages {
    margin: 150px 0 50px 120px;
  }
}

@media screen and (max-width: 1199px) {
  .titleListAdvantages {
    margin: 90px 0 37px 0;
  }
}

@media screen and (max-width: 743px) {
  .titleListAdvantages {
    order: 4;
    margin: 56px 0 35px 0;
  }
}

.listAdvantages {
  list-style: none;
  z-index: 2;
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 1505px) {
  .listAdvantages {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .listAdvantages {
    width: 100%;
    max-height: 193px;
    flex-wrap: wrap;
    gap: 15px 30px;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 743px) {
  .listAdvantages {
    order: 5;
    max-height: initial;
    gap: 14px;
  }
}

@media screen and (max-width: 413px) {
  .listAdvantages {
    margin-bottom: 0;
    gap: 16px;

  }
}

.paragraphAdvantages {
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-scale-primary);
  line-height: 120%;
  margin: 83px 0 384px 102px;
  max-width: 333px;
}

@media screen and (max-width: 1505px) {
  .paragraphAdvantages {
    margin: 42px 0 160px 121px;
    max-width: 518px;
  }
}


@media screen and (max-width: 1199px) {
  .paragraphAdvantages {
    order: 2;
  }
}

@media screen and (max-width: 991px) {
  .paragraphAdvantages {
    margin-left: 79px;
  }
}

@media screen and (max-width: 743px) {
  .paragraphAdvantages {
    font-size: 15px;
    margin: 46px 0 200px 105px;
    max-width: 260px;
  }
}

@media screen and (max-width: 483px) {
  .paragraphAdvantages {
    line-height: 106%;
    margin: 46px 0 201px 52px;
  }
}

.linkAdvantages {
  color: var(--brand-blue-primary-light);
  font-family: var(--font-roboto);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 106%;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 70px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .linkAdvantages {
    gap: 60px;
    order: 3;
  }
}

@media screen and (max-width: 743px) {
  .linkAdvantages {
    gap: 30px;
    max-width: 280px;
    align-items: flex-start;
  }

  .linkAdvantages svg {
    margin-left: 7px;
  }
}

/* Стили при наведении мыши на второй таб */

.tabsContainerActive {
  left: -194px;
}

.tabsContainerActive article:last-child {
  background: url(../images/active-tab.png);
}

.tabsContainerActive article:last-child h2 {
  color: var(--grey-scale-sixtary) !important;
}

.tabsContainerActive article .paragraphAdvantages {
  color: var(--grey-scale-sixtary);
}

.tabsContainerActive article .linkAdvantages {
  color: var(--grey-scale-sixtary);
}

.tabsContainerActive article svg g path {
  fill: var(--grey-scale-sixtary);
}

.tabsContainerActive article svg g path:hover {
  fill: var(--grey-scale-sixtary);
}