@import '../../assets/variables.scss';

.item {
  display: flex;
  gap: 11px;

  @media screen and (max-width: 1199px) {
    gap: 10px;
  }

  @media screen and (max-width: 413px) {
    a:last-child {
      padding: 11px 50px 10px;

      @media screen and (max-width: 374px) {
        padding: 11px 20px 10px;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $grey-scale-sixtary;
  border-radius: 10px;
  padding: 10px 35px 10px 40px;

  @media screen and (max-width: 1199px) {
    border-radius: 8px;
    padding: 6px 20px 4px;
  }

  @media screen and (max-width: 413px) {
    padding: 6px 10px 4px;
  }
}

.menu {
  display: flex;
  gap: 68px;
  padding-left: 0;
  margin: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.link {
  display: inline-flex;
  gap: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include textMixin($font-roboto, $grey-scale-primary-first, 95%, 20px, 500);
  font-variant: all-small-caps;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;

  &:hover { 
    color: $brand-blue-primary-light;

    svg {
      path:first-child {
        fill: $brand-blue-primary-light;
      }

      path:last-child {
        stroke: $brand-blue-primary-light;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    width: 93px;
    height: 26px;
  }
}