.header {
  height: 60px;
  display: flex;
  gap: 11px;
}

@media screen and (max-width: 1199px) {
  .header {
    height: 40px;
    gap: 10px;
  }
}

.container {
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-color: var(--grey-scale-sixtary);
  width: calc(100% - 252px);
  border-radius: 10px;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .container {
    width: calc(100% - 193px);
    padding: 0 20px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 413px) {
  .container {
    padding: 0 10px;
  }
}

.menu {
  display: flex;
  gap: 80px;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.link {
  display: inline-flex;
  gap: 7px;
  text-decoration: none;
  color: var(--grey-scale-primary);
  font-family: var(--font-roboto);;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  font-variant: all-small-caps;
  line-height: 95%;
  transition: color 0.4s ease-in-out;
}

.link:hover { 
  color: var(--brand-blue-primary-light);
}

.link:hover svg path:first-child {
  fill: var(--brand-blue-primary-light);
}

.link:hover svg path:last-child {
  stroke: var(--brand-blue-primary-light);
}

@media screen and (max-width: 1199px) {
  .logo {
    width: 93px;
    height: 26px;
  }
}