.tab {
  position: relative;
  width: 100%;
  background-color: var(--grey-scale-sixtary);
  border-radius: 20px;
  padding: 26px 40px 17px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .tab {
    padding: 11px 20px 20px;
  }
}

@media screen and (max-width: 743px) {
  .tab {
    padding: 10px 10px 17px;
  }
}

@media screen and (max-width: 483px) {
  .tab {
    border-radius: 8px;
    padding-bottom: 25px;
  }
}

.icon {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 102px;
  height: 95px;
  border-radius: 0 0 20px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-scale-quinary);
}

.icon::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 102px;
  border-radius: 100% 0 0 0;
  box-shadow: -5px -5px 0 5px var(--grey-scale-quinary);
  background-color: transparent;
}

.icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 95px;
  left: 0;
  border-radius: 100% 0 0 0;
  box-shadow: -5px -5px 0 5px var(--grey-scale-quinary);
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .icon {
    width: 62px;
    height: 62px;
  }

  .icon::before {
    width: 17px;
    height: 17px;
    left: 62px;
  }

  .icon::after {
    width: 17px;
    height: 17px;
    top: 62px;
  }
}

@media screen and (max-width: 483px) {
  .icon {
    width: 48px;
    height: 44px;
    border-radius: 0 0 10px 0;
  }

  .icon svg {
    width: 17px;
    height: 15px;
  }

  .icon::before {
    width: 10px;
    height: 10px;
    left: 48px;
  }

  .icon::after {
    width: 10px;
    height: 10px;
    top: 44px;
  }
}

.title {
  font-family: var(--font-monserrat);
  font-size: 28px;
  font-weight: 600;
  line-height: 106%;
  text-transform: lowercase;
  color: var(--grey-scale-primary);
  margin: 0 0 0 99px;
  z-index: 2;
}

@media screen and (max-width: 1505px) {
  .title {
    font-size: 25px;
    margin-left: 120px;
  }
}

@media screen and (max-width: 991px) {
  .title {
    margin-left: 79px;
  }
}

@media screen and (max-width: 743px) {
  .title {
    margin-left: 107px;
    order: 1;
  }
}

@media screen and (max-width: 483px) {
  .title {
    font-size: 20px;
    margin-left: 53px;
    order: 1;
  }
}

.background {
  position: absolute;
  right: 57px;
  top: 26px;
  z-index: 1;
}

@media screen and (max-width: 1505px) {
  .background {
    top: 85px;
    width: 600px;
  }
}

@media screen and (max-width: 1199px) {
  .background {
    width: 367px;
    position: static;
    margin: 80px 0 0 114px;
  }
}

@media screen and (max-width: 743px) {
  .background {
    order: 3;
    width: 100%;
    margin: 74px 0 9px 0;
  }
}