@import '../../assets/variables.scss';

.item {
  position: relative;
  width: 100%;
  background-color: $grey-scale-sixtary;
  border-radius: 20px;
  padding: 26px 40px 28px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media screen and (max-width: 1199px) {
    padding: 11px 20px 20px;
  }

  @media screen and (max-width: 743px) {
    padding: 10px 10px 17px;
  }

  @media screen and (max-width: 483px) {
    border-radius: 8px;
    padding-bottom: 25px;
  }
}

.icon {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 102px;
  height: 95px;
  border-radius: 0 0 20px 0;
  align-items: center;
  justify-content: center;
  background-color: $grey-scale-quinary;

  @media screen and (max-width: 991px) {
    width: 62px;
    height: 62px;
  }

  @media screen and (max-width: 483px) {
    width: 48px;
    height: 44px;
    border-radius: 0 0 10px 0;

    svg {
      width: 17px;
      height: 15px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    left: 102px;
    border-radius: 100% 0 0 0;
    box-shadow: -5px -5px 0 5px $grey-scale-quinary;
    background-color: transparent;

    @media screen and (max-width: 991px) {
      width: 17px;
      height: 17px;
      left: 62px;
    }

    @media screen and (max-width: 483px) {
      width: 10px;
      height: 10px;
      left: 48px;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 95px;
    left: 0;
    border-radius: 100% 0 0 0;
    box-shadow: -5px -5px 0 5px $grey-scale-quinary;
    background-color: transparent;

    @media screen and (max-width: 991px) {
      width: 17px;
      height: 17px;
      top: 62px;
    }

    @media screen and (max-width: 483px) {
      width: 10px;
      height: 10px;
      top: 44px;
    }
  }
}

.title {
  @include textMixin($font-monserrat, $grey-scale-primary-first, 106%, 28px, 600);
  text-transform: lowercase;
  margin: 0 0 0 99px;
  z-index: 2;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;

  @media screen and (max-width: 1505px) {
    font-size: pxToRem(25);
    margin-left: 120px;
  }
  
  @media screen and (max-width: 991px) {
    margin-left: 79px;
  }

  @media screen and (max-width: 743px) {
    margin-left: 107px;
    order: 1;
  }
  
  @media screen and (max-width: 483px) {
    font-size: pxToRem(20);
    margin-left: 53px;
    order: 1;
  }
}

.backgroundSoftTab {
  width: 252px;
  height: 249px;
  margin: 66px auto 22px;

  @media screen and (max-width: 1380px) {
    width: 30%;
    height: auto;
    margin: 57px auto 20px;
  }

  @media screen and (max-width: 991px) {
    width: 252px;
    height: 249px;
    margin: 76px 0 10px calc(50% - 145px);
  }

  @media screen and (max-width: 743px) {
    order: 3;
    width: 198px;
    height: 195px;
    margin: 34px 0 24px calc(50% - 145px);
  }

  @media screen and (max-width: 413px) {
    margin-top: 32px;
    margin-left: calc(50% - 111px);
  }
}