@import '../../modules/variables.scss';

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 1199px) {
  .link {
    gap: 8px;

    svg {
      width: 17px;
      height: 17px;

      @media screen and (max-width: 413px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.logoContainer {
  width: 49px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 100px;
  background: $grey-scale-quinary;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1199px) {
    width: 42px;
    height: 24px;
  }
}

.title {
  font-family: $font-roboto;
  font-size: pxToRem(20);
  font-weight: 500;
  line-height: 95%;
  font-variant: all-small-caps;
  margin: 0;
  display: inline-flex;
  gap: 7px;
  color: $brand-blue-primary-light;

  @media screen and (max-width: 1199px) {
    font-size: pxToRem(16);
    line-height: 92%;
  }
}
